body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
	margin-top:200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.theme-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.theme-image {
    width: 100%;
    height: auto;
    display: block;
}

.theme-title {
    font-size: 1.5em;
    margin: 10px 0;
}